@model IEnumerable<DanCookWeb.Controllers.ProductViewModel>

@{
    ViewData["Title"] = "Liste des produits";
}

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>List Price</th>
            <th>SubCategory</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.ListPrice</td>
                <td>@product.SubCategory</td>
                <td>@product.Category</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
